[submodule "repos/esp32"]
	path = repos/esp32
	url = https://github.com/DriverCoreOS-Team/DriverCoreOS-esp32
[submodule "repos/rpi"]
	path = repos/rpi
	url = https://github.com/DriverCoreOS-Team/DriverCoreOS-rpi
[submodule "repos/nixos"]
	path = repos/nixos
	url = https://github.com/DriverCoreOS-Team/DriverCoreOS-nixos
[submodule "repos/installer"]
	path = repos/installer
	url = https://github.com/DriverCoreOS-Team/DriverCoreOS-installer
[submodule "docs"]
	path = docs
	url = https://github.com/DriverCoreOS-Team/DriverCoreOS-docs.git
